@model LoginDTO
@{
    ViewData["Title"] = "Login";
    Layout = "~/Areas/Admin/Views/Shared/_AccountLayout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Welcome Admin!</h1>
                            </div>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <form class="user" asp-action="Login" asp-controller="Account" method="post">
                                <div class="form-group">
                                    <input asp-for="Email" placeholder="Enter Email Address..."
                                           class="form-control form-control-user" id="exampleInputEmail" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="Password" placeholder="Password"
                                           class="form-control form-control-user" id="exampleInputPassword" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox small">
                                        <input asp-for="RememberMe" class="custom-control-input" id="customCheck" type="checkbox" />
                                        <label class="custom-control-label" for="customCheck">Remember Me</label>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">Login</button>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" asp-controller="Account" asp-action="Register">Create an Account!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
